@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap"); /* Basic reset from Josh Comeau https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orange-bg {
  background-color: hsl(31deg, 77%, 52%);
}

.cyan-bg {
  background-color: hsl(184deg, 100%, 22%);
}

.dark-cyan-bg {
  background-color: hsl(179deg, 100%, 13%);
}

.orange-txt {
  color: hsl(31deg, 77%, 52%);
}

.cyan-txt {
  color: hsl(184deg, 100%, 22%);
}

.dark-cyan-txt {
  color: hsl(179deg, 100%, 13%);
}

.wrapper {
  display: flex;
  justify-content: center;
}

.card {
  flex-basis: 300px;
  padding: 2.5rem;
}
.card__title, .card img {
  margin-bottom: 1.5rem;
}
.card__title {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.card__description {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: hsla(0deg, 0%, 100%, 0.75);
}
.card__btn {
  background-color: #FFF;
  text-decoration: none;
  border-radius: 2rem;
  border: 2px solid white;
  padding: 0.8rem 2rem;
  margin-top: 4.5rem;
  display: inline-block;
}
.card__btn:hover {
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 425px) {
  body {
    height: auto;
  }
  .wrapper {
    flex-direction: column;
  }
}
